<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonet</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="img\social-media.png">
</head>

<body>
    <nav class="main-nav">
        <h1>sonet<img src="img/social-media.png" alt="Logo" class="logo"></h1>
    
    
        <div class="user-actions">
          <a href="/admin" class="nav-link"><i class="fas fa-cog"></i> Admin Panel</a>
        </div>
      </nav>

    <div class="container">



        <div id="auth-forms">
            <h2 class="text">Register</h2>
            <form id="register-form">
                <input type="text" id="register-username" placeholder="Username" required autocomplete="username">
                <input type="email" id="register-email" placeholder="Email" required autocomplete="email">
                <input type="password" id="register-password" placeholder="Password" required autocomplete="new-password">
                <button type="submit">Register</button>
            </form>
            
            <h2 class="text">Login</h2>
            <!-- Форма логина -->
            <form id="login-form">
                <input type="email" id="login-email" placeholder="Email" required autocomplete="email">
                <input type="password" id="login-password" placeholder="Password" required autocomplete="current-password">
                <button type="submit">Login</button>
            </form>
        </div>

    </div>
    <script src="/static/js/auth.js"></script>
</body>

</html>