<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Broadcast</title>
  <link rel="stylesheet" href="/static/css/email.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" href="img\social-media.png">
</head>

<body>
  <nav class="main-nav">
    <h1>sonet<img src="img/social-media.png" alt="Logo" class="logo"></h1>


    <div class="user-actions">
      <a href="/index" class="nav-link"><i class="fas fa-home"></i> Home</a>
      <a href="/user-profile" class="nav-link"><i class="fas fa-user"></i> Profile</a>
      <a href="/admin" class="nav-link"><i class="fas fa-cog"></i> Admin Panel</a>
      <button id="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
    </div>
  </nav>
  <div class="container">

    <h1>Email Broadcast</h1>
    <form id="emailForm" enctype="multipart/form-data">
      <label for="subject">Topic</label>
      <input type="text" id="subject" name="subject" placeholder="Enter email subject" required>

      <label for="body">Message</label>
      <textarea id="body" name="body" rows="4" placeholder="Enter email body" required></textarea>

      <label for="users">Recipients (comma-separated emails)</label>
      <input type="text" id="users" name="users" placeholder="e.g. user1@example.com, user2@example.com" required>

      <label for="attachment">Attachment (optional)</label>
      <input type="file" id="attachment" name="attachment">

      <button class="sendmail" type="submit">Send Emails</button>
      <p class="error" id="errorMessage"></p>
      <p class="success" id="successMessage"></p>
    </form>
  </div>

  <script src="/static/js/email.js"></script>
</body>

</html>