<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="main-nav">
        <h1>so.net</h1>
        
        <div class="user-actions">
            <a href="/index" class="nav-link">Home</a>
            <a href="/user-profile" class="nav-link">Profile</a>
            <a href="/admin" class="nav-link">Admin Panel</a>
            <button id="logout-btn">Logout</button>
        </div>
    </nav>

    <div class="container">
        <div id="content" style="display: block;">


            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search posts...">
                <input type="text" id="username-filter" placeholder="Filter by username">
                <input type="date" id="date-filter">
                <button type="submit">Search</button>
            </form>

            <h2>Posts</h2>
            <div id="post-list">
                <!-- Посты будут отображаться здесь -->
            </div>

            <div id="pagination"></div>

            <h3>Create a Post</h3>
            <form id="create-post-form">
                <textarea id="post-content" placeholder="Enter post content"></textarea>
                
                <button type="submit">Create Post</button>
            </form>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
