<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="img\social-media.png">
</head>
<body>
    <nav class="main-nav">
        <h1>sonet<img src="img/social-media.png" alt="Logo" class="logo"></h1>
        
        
        <div class="user-actions">
            <a href="/index" class="nav-link"><i class="fas fa-home"></i> Home</a>
            <a href="/user-profile" class="nav-link"><i class="fas fa-user"></i> Profile</a>
            <a href="/admin" class="nav-link"><i class="fas fa-cog"></i> Admin Panel</a>
            <button id="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </div>
    </nav>

    <div class="container">
        <div id="content">
            <form id="create-post-form">
                <textarea id="post-content" placeholder="What's on your mind?"></textarea>
                <button type="submit"><i class="fas fa-paper-plane"></i> Post</button>
            </form>

            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search posts...">
                <input type="text" id="username-filter" placeholder="Filter by username">
                <input type="date" id="date-filter">
                <button type="submit"><i class="fas fa-search"></i> Search</button>
            </form>

            <div id="post-list">
                <!-- Посты будут отображаться здесь -->
            </div>

            <div id="pagination"></div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>

